{% extends 'base.html' %}

{% block head %}
<title>Study Zen</title>
<script>
    function allowDrop(ev) {
      ev.preventDefault();
    }
    
    function drag(ev) {
      ev.dataTransfer.setData("text", ev.target.id);
    }
    
    function drop(ev) {
      ev.preventDefault();
      var data = ev.dataTransfer.getData("text");
      ev.target.appendChild(document.getElementById(data));
    }
</script>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center"> Kelas yang Anda pilih </h1>

    <table>
        <tr>
            <th> ID </th>
            <th> Mata Kuliah </th>
            <th> Bobot SKS </th>
            <th> Term </th>
            <th> Hari </th>
            <th> Start Time </th>
            <th> End Time </th>
        </tr>
        
        {% for jadwal in mycourse %}
        <tr>
            <td>{{ jadwal[0] }}</td>
            <td>{{ jadwal[2] }}</td>
            <td>{{ jadwal[3] }}</td>
            <td>{{ jadwal[4] }}</td>
            <td>{{ jadwal[7] }}</td>
            <td>{{ jadwal[5] }}</td>
            <td>{{ jadwal[6] }}</td>
            
        </tr>
        {% endfor %}
        
    </table>

    <br>
    <h2> Jadwal Anda </h2>

{% if rec is defined %}

    <!-- Buat drag and drop -->
    <section class="rec">
        <div id="div1" style="border: 3px solid #aaa;"> Jadwal yang perlu diluangkan (drag and drop ke kalender) </div>
        

        {% if "Rec Jarkom Rabu Pagi" in rec%}
        <p style="border: 1px solid #aaa;" draggable="true" ondragstart="drag(event)"> (Rekomendasi) Belajar mandiri - Jaringan Komputer  </p>
        {% endif %}
        
        {% if "Rec Big Data" in rec%}
        <div style="border: 1px solid #aaa;" draggable="true" ondragstart="drag(event)"> (Rekomendasi) Belajar mandiri - Teknologi Big data  </div>
        {% endif %}
    </section>
    
{% endif %}

    <table ondrop="drop(event)" ondragover="allowDrop(event)">
        <tr>
            <th> Waktu </th>
            <th> Senin </th>
            <th> Selasa </th>
            <th> Rabu </th>
            <th> Kamis </th>
            <th> Jumat </th>
            <th> Sabtu </th>
            <th> Minggu </th>
        </tr>
        
        <tr>
            <td> 08.00 - 10.00 </td>
            <td>  - </td>
            {% if "Jaringan Komputer" in sched%}
            <td> Jaringan Komputer </td>
            {% else%}
            <td> - </td>
             {% endif %}
            <td ondrop="drop(event)" ondragover="allowDrop(event)">  </td>
            <td ondrop="drop(event)" ondragover="allowDrop(event)">  </td>
            <td ondrop="drop(event)" ondragover="allowDrop(event)">  </td>
            <td ondrop="drop(event)" ondragover="allowDrop(event)">  </td>
            <td ondrop="drop(event)" ondragover="allowDrop(event)">  </td>
        </tr>
        
       
        <tr>
            <td> 10.00 - 12.00 </td>
            <td ondrop="drop(event)" ondragover="allowDrop(event)">  </td>
            <td ondrop="drop(event)" ondragover="allowDrop(event)">  </td>

            {% if "Rec Jarkom Rabu Pagi" in rec%}
            <td> (Rekomendasi) Belajar mandiri - Jaringan Komputer  </td>
            {% else%}
            <td> - </td>
            {% endif %}

            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>

        <tr>
            <td> 13.00 - 15.00 </td>
            <td> -  </td> 
            <td> - </td> 
            <td> - </td>  
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>

         <!-- Jam 16-18 -->
        
        <tr>
            <td> 16.00 - 18.00 </td>
            
             <!-- Senin -->
            {% if "Teknologi Big Data" in sched%}
            <td> Teknologi Big Data  </td>
            {% else%}
            <td> - </td>
            {% endif %}

            <td> - </td>

            <!-- Rabu -->
            {% if "Keamanan Jaringan" in sched%}
            <td> Keamanan Jaringan  </td>
            {% elif "Rec Jarkom Rabu" in rec%}
            <td> (Rekomendasi) Belajar mandiri - Jaringan Komputer  </td>
            {% else%}
            <td> - </td>
            {% endif %}
            
            {% if "Sistem Waktu Nyata dan IoT" in sched%}
            <td> Sistem Waktu Nyata dan IoT </td>
            {% else%}
            <td> - </td>
            {% endif %}


            <!-- Jumat  -->

            {% if "Despro" in sched%}
            <td> Despro </td>
            {% else%}
            <td> - </td>
            {% endif %}

             <!-- Sabtu -->
            <td> - </td>
            <td> - </td>
        </tr>
        
        
        <tr>
            <td> 20.00 - 22.00 </td>

            <!-- Rekomendasi belajar big data senin malem -->
            
            {% if "Rec Big Data" in rec%}
            <td> (Rekomendasi) Belajar mandiri - Teknologi Big Data  </td>
            {% else%}
            <td> - </td>
            {% endif %}

            <!-- Rekomendasi belajar jarkom selasa malem -->
            
            {% if "Rec Jarkom Selasa" in rec%}
            <td> (Rekomendasi) Belajar mandiri - Jaringan Komputer  </td>
            {% else%}
            <td> - </td>
            {% endif %}


            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>
        
    </table>
    
    <br>

    <!-- Tabel -->
    <div id="grid">
        <div id="sc"> <b> Waktu</b> </div>
        <div id="sc"> Senin </div>
        <div id="sc"> Selasa </div>
        <div id="sc"> Rabu </div>
        <div id="sc"> Kamis </div>
        <div id="sc"> Jumat</div>
        <div id="sc"> Sabtu </div>
        <div id="sc"> Minggu </div>
        <div id="sc" style="min-height: 50px; height: 100%;" ondrop="drop(event)" ondragover="allowDrop(event)">  </div>
        <div id="sc" style="min-height: 50px; height: 100%;" ondrop="drop(event)" ondragover="allowDrop(event)">  </div>
        <div id="sc" style="min-height: 50px; height: 100%;" ondrop="drop(event)" ondragover="allowDrop(event)">  </div>
        <div id="sc" style="min-height: 50px; height: 100%;" ondrop="drop(event)" ondragover="allowDrop(event)">  </div>
    </div>


    <br>


    {% if total_sks is defined %}
        <h4> Anda akan mengambil {{ total_sks }} SKS di Term ini sehingga 
            anda perlu mengalokasikan {{ alokasi }} menit untuk seluruh mata kuliah 
        </h4>
        <br>
        <h6> *Catatan: 1 sks terdiri atas 50 menit kegiatan tatap muka, 
            60 menit kegiatan mandiri, dan 60 menit kegiatan terstruktur
        </h6>
    {% endif %}

</div>

{% endblock %}

