{% extends 'base.html' %}

{% block head %}
<title>Jadwal Kuliah</title>
{% endblock %}

{% block body %}
<script>
    function Test(){
        
    }
</script>
<div class="content">
    <h1 style="text-align: center"> Jadwal Kuliah </h1>
    
    <table>
        <tr>
            <th> ID </th>
            <th> Mata Kuliah </th>
            <th> Bobot SKS </th>
            <th> Term </th>
            <th> Hari </th>
            <th> Start Time </th>
            <th> End Time </th>
        </tr>
        
        {% for courses in course %}
        <tr>
            <td>{{ courses[0] }}</td>
            <td>{{ courses[1] }}</td>
            <td>{{ courses[2] }}</td>
            <td>{{ courses[3] }}</td>
            <td>{{ courses[6] }}</td>
            <td>{{ courses[4] }}</td>
            <td>{{ courses[5] }}</td>
        </tr>
        {% endfor %}
        
    </table>
    
    <br>

    <form id="kuliah" action="/" method="POST">
        <label >Pilih mata kuliah:</label>
        
        <select id="kuliah_option" name="kuliah">
            {% for courses in course %}
            <option value="{{ courses[1] }}">{{ courses[1] }}</option>
            {% endfor %}
        </select>
       
        <input type="submit" value="Pilih">
    </form>

    <br>

    {% if mycourse|length < 1 %}
    <h4 style="text-align: center"> Anda belum memilih jadwal, pilih jadwal anda  </h4>
    {% else%}
    <br>

    <h1 style="text-align: center"> Kelas yang Diambil </h1>

    <br>
    <table>
        <tr>
            <th> Nama Matkul </th>
            <th> Bobot SKS </th>
            <th> Term </th>
            <th> Kode Matkul </th>
        </tr>
        
        {% for jadwal in mycourse %}
        <tr>
            <td>{{ jadwal[2] }}</td>
            <td>{{ jadwal[3] }}</td>
            <td>{{ jadwal[4] }}</td>
            <td>{{ jadwal[1] }}</td>
            
        </tr>
        {% endfor %}
        
    </table>

    <form style="text-align: center" action="/submit" method="post">
        <input style="text-align: center" type="submit" value="Submit" id="submit">
    </form>

    {% endif %}

<!--
    {% if tasks|length < 1 %}
    <h4 style="text-align: center"> Anda belum memilih jadwal, pilih jadwal anda  </h4>
    {% else%}
    <table>
        <tr>
            <th> Mata Kuliah </th>
            <th> Diambil pada tanggal </th>
            <th> Options</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
                <br>
                <a href="/update/{{task.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}


    
    <form action="" method="POST">
        <label >Jumlah SKS yang diambil:</label>
        <input type="text" name="sks">
        <input type="submit" onclick="Test()">
    </form>


    <form id="kuliah" action="/" method="POST">
        <label for="cars">Pilih mata kuliah:</label>
        <select id="kuliah" name="kuliah">
            <option value="Big Data">Big Data</option>
            <option value="Jaringan Telekomunikasi">Jaringan Telekomunikasi</option>
            <option value="kemjar">Keamanan Jaringan Komputer</option>
            
        </select>
        <input type="submit" value="Pilih">
    </form> -->
</div>
{% endblock %}

