{% extends 'base.html' %}

{% block head %}
<title>Study Zen</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center"> Kelas yang Anda pilih </h1>

    <table>
        <tr>
            <th> Nama Matkul </th>
            <th> Bobot SKS </th>
            <th> Term </th>
            <th> Kode Matkul </th>
        </tr>
        
        {% for jadwal in mycourse %}
        <tr>
            <td>{{ jadwal[1] }}</td>
            <td>{{ jadwal[2] }}</td>
            <td>{{ jadwal[3] }}</td>
            <td>{{ jadwal[4] }}</td>
            
        </tr>
        {% endfor %}
        
    </table>

    <br>
    <h2> Jadwal Anda </h2>
    <table>
        <tr>
            <th> Waktu </th>
            <th> Senin </th>
            <th> Selasa </th>
            <th> Rabu </th>
            <th> Kamis </th>
            <th> Jumat </th>
        </tr>
        <tr>
            <td> 08.00 - 10.00 </td>
            <td> -  </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 10.00 - 12.00 </td>
            <td> -  </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 13.00 - 15.00 </td>
            <td> -  </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 16.00 - 18.00 </td>
            <td> -  </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>
        <tr>
            <td> 20.00 - 22.00 </td>
            <td> -  </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
            <td> - </td>
        </tr>

    </table>

    <form style="text-align: center" action="/generate" method="post">
        <input style="text-align: center" type="submit" value="Recommend" id="recommend">
    </form>

    {% if total_sks is defined %}
        <h4> Anda akan mengambil {{ total_sks }} SKS di Term ini sehingga 
            anda perlu mengalokasikan {{ alokasi }} menit untuk seluruh mata kuliah 
        </h4>
        <br>
        <h6> *Catatan: 1 sks terdiri atas 50 menit kegiatan tatap muka, 
            60 menit kegiatan mandiri, dan 60 menit kegiatan terstruktur
        </h6>
    {% endif %}

</div>
{% endblock %}

