{% extends 'base.html' %}

{% block head %}
<title>Study Zen</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center"> Kelas yang Anda pilih </h1>

    <table>
        <tr>
            <th> ID </th>
            <th> Mata Kuliah </th>
            <th> Bobot SKS </th>
            <th> Term </th>
            <th> Hari </th>
            <th> Start Time </th>
            <th> End Time </th>
        </tr>
        
        {% for jadwal in mycourse %}
        <tr>
            <td>{{ jadwal[0] }}</td>
            <td>{{ jadwal[2] }}</td>
            <td>{{ jadwal[3] }}</td>
            <td>{{ jadwal[4] }}</td>
            <td>{{ jadwal[8] }}</td>
            <td>{{ jadwal[6] }}</td>
            <td>{{ jadwal[7] }}</td>
            
        </tr>
        {% endfor %}
        
    </table>

    <br>
  

    <form style="text-align: center" action="/generate" method="post">
        <input style="text-align: center" type="submit" value="Recommend" id="recommend">
    </form>

    

</div>
{% endblock %}

